---
site_title: Поможем парку 300-летия
---

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/normalize.css"/>
        <link rel="stylesheet" href="/styles/flexboxgrid.css"/>
        <link rel="stylesheet" href="/styles/base.css"/>
        <title>{{ site_title }}</title>
    </head>
    <body>
        <header>
            <h1 class="text-center">{{ site_title }}</h1>
        </header>
        <aside class="index menu">
            <nav class="" id="contents" >
                <a href="#problem">В чем пробема?</a>
                <a href="#importance">Почему это важно?</a>
                <a href="#history">История парка</a>
                <a href="#news">Новости</a>
                <a href="#action">Как помочь?</a>
                <a href="#aftermath">Что будет если ничего не делать?</a>
                <a href="#contacts">Контакты</a>
                <button type="button" class="btn m-white m-close" onclick="document.getElementById('contents').classList.toggle('open')">×</button>
            </nav>
            <button class="vertical-word" onclick="document.getElementById('contents').classList.toggle('open')"><span> Оглавление</span></button>
        </aside>
        {{ content | safe }}
        <footer id="contacts">
            <p>Страница сделана гражданами Санкт-Петербурга</p>
            <p><strong>Наша страница в VK</strong><br>
            <a href="http://vk.com/park300spb" target="_blank">vk.com/park300spb</a></p>
            <p><strong>Наша страница в Facebook</strong></p>
            <p><a href="https://www.facebook.com/groups/park300spb">facebook.com/groups/park300spb</a></p>
            <p>&nbsp;</p>
            <p><strong>Информационная поддержка</strong></p>
            <div><a href="https://vk.com/peterburg_krasiv"><nobr>Красивый Петербург</nobr></a> и <a href="https://vk.com/primor_spb"><nobr>♥ ПРИМОРСКИЙ РАЙОН ♥</nobr></a></div>
        </footer>
    </body>
</html>