---
title: Главная страница
layout: layout.njk
---

<section id="problem">
  <h2>В чем проблема?</h2>
  <ol class="list mb20">
    <li class="mb20">
      <strong>Парк систематически уничтожают​</strong><br />
      За 15 лет существования площадь парка уменьшена чиновниками и
      застройщиками с 86 до 54 гектаров
    </li>
    <li class="mb20">
      <strong
        >В муниципальном образовании, в котором расположен парк 300-летия, и так
        дефицит зеленых насаждений​</strong
      ><br />
      А со строительством метро "Беговая" в 2018 году нагрузка на парк только
      увеличится
    </li>
    <li class="mb20">
      <strong
        >Парк 300-летия - уникальный городской объект, единственный парк на
        Финском заливе с набережной, а часть его бывшей территории уже застроена
        коммерческими объектами​</strong
      ><br />
      Передача его земель под коммерческие объекты "убивает" не только вид, но и
      существенно ограничивает функции зеленой зоны
    </li>
  </ol>

  <p>
    <iframe
      frameborder="0"
      height="390"
      src="//vk.com/video_ext.php?oid=-60993553&amp;id=171893152&amp;hash=c617720ea4b6b0dd&amp;hd=2"
      width="480"
    ></iframe
    ><iframe
      allowfullscreen=""
      frameborder="0"
      height="360"
      src="https://www.youtube.com/embed/3_DPOC-PwZQ"
      width="480"
    ></iframe
    ><iframe
      frameborder="0"
      height="270"
      src="http://www.youtube.com/embed/yGRSLU3rR0U"
      type="text/html"
      width="480"
    ></iframe
    ><img
      alt=""
      src="https://sun9-64.userapi.com/c857128/v857128767/b4c09/X7o-_XOUwIA.jpg"
      style="display: block; margin-left: auto; margin-right: auto; width: 50%"
    />
    <img
      alt=""
      src="https://sun9-37.userapi.com/c855416/v855416639/1f7488/uxq0HgIRC_0.jpg"
      style="display: block; margin-left: auto; margin-right: auto; width: 50%"
    />
  </p>

  <p>&nbsp;</p>
</section>

<section id="importance">
  <h2>Почему это важно?</h2>
  <div id="tabs-container">
    <ul class="tabs-menu">
      <li class="current"><a href="#tab1">Спортсмен</a></li>
      <li><a href="#tab2">Семья</a></li>
      <li><a href="#tab3">Пенсионер</a></li>
      <li><a href="#tab4">Чиновник</a></li>
    </ul>
    <div class="tab">
      <div id="tab1" class="tab-content">
        <ul class="list fl ib">
          <li>скейтпарк</li>
          <li>беговой маршрут</li>
          <li>гранитные набережные</li>
          <li>пляж</li>
          <li>тротуар для роллеров</li>
        </ul>
        <img
          alt=""
          height="200"
          src="images/ruines.jpg"
          style="float: right"
          width="329"
        />
        <img
          alt=""
          class="fr"
          src="images/_2xqzps-j9M.jpg"
          style="float: right"
          width="300"
        />
      </div>
      <div id="tab2" class="tab-content">
        <ul class="list fl">
          <li>свежий воздух</li>
          <li>место для прогулок с коляской</li>
          <li>пляж на берегу моря</li>
          <li>возможность сходить на пикник</li>
        </ul>
        <img
          alt=""
          class="fr"
          src="images/85633-bd7f6-65884549-m750x740-uec156.jpg"
          width="340"
        />
        <img alt="" class="fr" src="images/11808887.jpg" />
      </div>
      <div id="tab3" class="tab-content">
        <ul class="list fl">
          <li>пространство для прогулок</li>
          <li>лавочки под деревьями</li>
          <li>дорожки для скандинавской ходьбы</li>
        </ul>
        <img
          alt=""
          class="fr"
          height="167"
          src="images/B61ieRepynQ.jpg"
          style="float: right"
          width="298"
        />
        <img
          alt=""
          class="fr"
          height="167"
          src="images/nordic-walking.jpg"
          style="float: right"
          width="251"
        />
      </div>
      <div id="tab4" class="tab-content">
        <ul class="list fl">
          <li>спокойствие жителей</li>
        </ul>
        <img alt="" class="fr" src="images/Малиновка-3.jpg" width="300" />
        <img alt="" class="fr" src="images/пит2.jpg" width="310" />
      </div>
    </div>
  </div>
  <strong>Всего этого может не стать</strong>
  <a href="#action" class="m-action scrolly">Сохранить&nbsp;парк</a>
</section>

<section id="history">
  <h2>История парка</h2>
  <p>
    История парка началась с инициативы местных жителей: в 1995 году
    профессиональный садовник Владимир Верховых принес мэру Анатолию Собчаку
    созданную в соавторстве с ландшафтным архитектором Аллой Кищук концепцию
    парка. Парк получил название «Парк 300-летия Санкт-Петербурга» и был заложен
    в план распоряжением Анатолия Собчака.
  </p>
  <p>&nbsp;</p>
  <p>
    В том же году Владимир Путин, находясь в должности первого заместителя
    председателя Правительства города, вместе с Анатолием Собчаком заложил
    капсулу с посланием к потомкам и посадил здесь первые липы вместе с
    жителями. На закладном камне, расположенном перед входом в ТК «Питерленд»,
    указана дата основания парка - 7 октября 1995 года. Примечательно, что 7
    октября - день рождения Путина.
  </p>
  <p>&nbsp;</p>
  <p>
    Парк был построен за немалые бюджетные деньги. В техзадании на строительство
    зафиксировано, что зеленую зону предполагалось разместить на территории
    площадью в 86 га – от Лахтинского разлива до стадиона «Приморец». Однако
    позже значительные части территории были постепенно изъяты и отданы под
    строительство объектов коммерческой недвижимости. В 2016 году территория
    парка уже составляет 54 га. В 2012 году на территории рядом с парком стал
    строиться амбциозный проект «Газпрома" - небоскреб "Лахта-центр" высотой 462
    метра. А участок в 4 га, когда-то принадлежащий парку, а теперь граничащий с
    ним, по одной версии, планируется отдать под строительство клиники «Согаз» и
    исторического центра, а по другой - под возведение спорткомплекса. В начале
    января 2016 года прошли публичные общественные слушания в администрации
    Приморского района, на которых горожане высказались против застройки
    участка, некогда принадлежащего парку.
  </p>
  <div id="timeline">
    <ul class="timeline">
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">1995</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              А. Собчак подписал распоряжение о закладке "Парка 300-летия
              Санкт-Петербурга"
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">1996</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Подготовлено задание на проектирование культурно-развлекательного
              парка
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2003</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>Официальное открытие "Парка 300-летия Санкт-Петербурга"</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2004</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>В. Матвиенко открыла "Безымянную высоту"</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2005</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>Начато строительство аквапарка и ТРЦ "PiterLand"</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2006</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Возникает проект МФК "Lotos Tower" (100 метровое здание отеля)
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2007</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Построен самый крупный открытый(на тот момент) скейтпарк в
              Санкт-Петербурга
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2008</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Постройка "PiterLand" заморожена на 2 года из-за просрочки платежа
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2009</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Градостроительный совет: территории парка 300-летия официально
              отдаются под застройку
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2010</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Территории восточнее и западнее существующих границ парка
              исключены из ЗНОП
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2011</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Центр водного туризима через суд получает разрешение на
              строительство отеля
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2012</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Г. Полтавченко предложил расширить парк вдоль набережной Большой
              Невки
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2012</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              В парке поставили памятник Франсиско Миранде (дар венесуэльского
              лидера У. Чавеса)
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2012</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Правительством города отозвано разрешение на строительство РОО
              Хокейный клуб СКА
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2012</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>Открыт аквапарк и ТРК "Питерлэнд"</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2014</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>Запущены 2 фонтана на восточном и западном лучах</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2014</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Реновация скейт-парка силами местных жителей и с привлечением
              инвестора
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2014</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              МФК Lotos Tower вместо 150-метровой башни преобразовался в
              7-этажный апарт-отель
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2015</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Активизировались строительные работы на площадке Академии боевых
              искусств
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2015</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Активизировалась строительные работы на площадке гостиницы Центра
              водного туризма
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2015</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Внесение поправок в Генплан города, но поправки о возвращении 4 Га
              не были приняты
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2015</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>Организована незаконная стоянка у ЖК "Золотая Гавань"</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2015</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>Незаконная вырубка кустарника в восточной части</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2016</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Публичные слушания закона о ПЗЗ, на которых местные жители внесли
              замечания
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2016</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>Состоялся согласованный митинг в защиту парка 300-летия</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2016</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Произведена высадка рябиновой аллее семьи, любви и верности
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2016</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Жители района установили скамью примирения на аллее семьи, любви и
              верности
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2016</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Жители вышли на большой покос травы на спорном участке парка
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2016</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>Прошла акция "Посади дерево" - высажена рябиновая аллея</div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2016</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Смольный передал «Газпрому» 3 га бывшей территории парка 300-летия
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2016</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Смольный передал «Газпрому» 3 га бывшей территории парка 300-летия
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2020</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              Мария Шишкина потребовала требованием отменить коммерческую
              застройку рядом с парком
            </div>
          </div>
        </div>
      </li>
      <li class="tl-item">
        <div class="tl-wrap {{class}}">
          <span class="tl-date">2020</span>
          <div class="tl-content panel padder b-a">
            <span class="arrow left pull-up"></span>
            <div>
              УФАС предупредил Смольный о необходимости забрать у «Плаза Лотос
              Групп»
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <p>Дополнительные ресурсы по теме:</p>

  <ul class="list">
    <li>
      <a href="http://arum-spb.gallery.ru/watch?a=wrl-eGNi" target="_blank"
        >Парк 300-летия Санкт-Петербурга
      </a>
      (галерея&nbsp;Владимира Верховых)
    </li>
    <li>
      <a
        href="http://vector.education/longread/182-bereg-primorskogo-rajona-sohranit-nelzya-z/"
        target="_blank"
        >Берег Приморского района: сохранить, нельзя застроить
      </a>
      (исследование Анны&nbsp;Козлинской)
    </li>
    <li>
      <a href="http://mr7.ru/articles/129153/"
        >Финский залив поглощает пляжи Петербурга</a
      >(Ирина Парамонова)
    </li>
    <li>
      <a
        href="https://spbvedomosti.ru/news/gorod/v-pyanoy-gavani-zhit-gradsovet-peterburga-rassmotrel-proekt-gostinitsy-s-vidom-na-finskiy-zaliv/"
        >В Пьяной гавани жить. Градсовет Петербурга рассмотрел проект гостиницы
        с видом на Финский залив</a
      >
      (Лев Березкин)
    </li>
    <li>
      <h4>
        <a href="https://bellona.ru/2021/02/18/primorskiy-pr/"
          >Почему стратегический и инвестиционный партнёр Петербурга пытается
          отобрать у жителей города зеленые насаждения</a
        >
        (Андрей Евгеньев)
      </h4>
    </li>
  </ul>
</section>

<section id="news">
  <style type="text/css">
    section:hover {
      background: rgba(255, 255, 255, 0.9) !important;
    }
  </style>
  <h2>Новости</h2>

  <p>2 февраля 2021</p>

  <p>
    На Приморском проспекте, на изначальной территории парка 300-летия,
    неизвестные подожгли детский верёвочный парк созданный местными жителями
  </p>

  <p>
    <a href="https://vk.com/primor?w=wall-58956_245794"
      >https://vk.com/primor?w=wall-58956_245794</a
    >
  </p>

  <p>&nbsp;</p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Декабрь 2018 года.
    </span>
  </p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Жители
      <a href="https://vk.com/zolotayagavan?w=wall-28242185_3345"
        >единогласно высказались против увеличения высоты</a
      >
      в рамках публичных слушаний по вопросу предоставления застройщику ООО
      «Плаза Лотус Груп» разрешения на увеличение высотности апарт-отеля
    </span>
  </p>

  <p>&nbsp;</p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Декабрь 2019 г.
    </span>
  </p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Градсовет не согласовал «Плаза Лотос Групп» (PLG) проект инвест-отеля на
      1145 номеров и рекомендовал урезать высоту.</span
    >
  </p>

  <p>
    <a href="https://nsp.ru/6103-otel-u-pyanoi-gavani"
      >https://nsp.ru/6103-otel-u-pyanoi-gavani</a
    >
  </p>

  <p>&nbsp;</p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >5 декабря 2019
    </span>
  </p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Жители
      <a href="https://vk.com/park300spb?w=wall-108036428_2165"
        >единогласно выступили против застройки</a
      >
      на публичных слушаниях по проекту застройки участка парка 300-летия
      Санкт-Петербурга</span
    >
  </p>

  <p>&nbsp;</p>

  <p>
    <iframe
      allowfullscreen=""
      frameborder="0"
      height="360"
      src="//www.youtube.com/embed/zWY15J_OBWo"
      width="640"
    ></iframe>
  </p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >14 января 2020 года
    </span>
  </p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Состоялась
      <a href="https://vk.com/zolotayagavan?w=wall-28242185_3553"
        >встреча инициативной группы жителей выступающих в защиту от застройки
        парка 300-летия</a
      >, с представителями застройщика парка «Плаза Лотос Групп» (PLG).
      Участники собрания единогласно выразили свое возмущение и общее
      категоричесткое мнение о не допущении никакой застройки на данных
      участках. Данные территории должны быть только рекреационными и возвращены
      в границы «Парка 300-летия Санкт-Петербурга».</span
    >
  </p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Июль 2020
    </span>
  </p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Состоялась
      <a href="https://vk.com/zolotayagavan?w=wall-28242185_3806"> встреча жителей с депутатом Законодательного Собрания - Вишневским
        Борисом Лазаревичем </a>, по вопросу сохранения участка парка 300-летия СПб от застройки
      аппартаментами "Плаза Лотос Груп"</span
    >
  </p>

  <p>&nbsp;</p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Июль 2020
    </span>
  </p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      ><a href="https://vk.com/zolotayagavan?w=wall-28242185_3871"
        >Градсовет повторно отказал ООО "Плаза Лотос Груп" в согласовании
        проекта гостиницы</a
      >
      и отправил его на доработку и устранение замечаний с предложением о
      выделении другого участка под реализацию проекта.</span
    >
  </p>

  <p>&nbsp;</p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Август 2020.
    </span>
  </p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Застройщик «Плаза Лотос Груп» (PLG) в рамках первой инстанции
      Арбитражного суда Санкт-Петербурга и Ленобалсти
      <a
        href="https://abnews.ru/2020/08/25/stroitelstvo-gostinicz-na-beregu-smolenki-prodolzhitsya-posle-suda/"
        >сохранило статус стратегического инвестора</a
      ></span
    >
  </p>

  <p>&nbsp;</p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Сентябрь 2020
    </span>
  </p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >По инициативе жителей
      <a href="https://vk.com/zolotayagavan?w=wall-28242185_3964"
        >проведена инветаризация участка парка 300-летия</a
      >. Итог: на участке растет 29 видов кустарников и 18 видов деревьев!
      Возраст деревьев до 65 лет, а общее санитарное состояние зеленых
      насаждений в сквере удовлетворительное. Согласно акта обследования на
      участке имеется газон площадью -19228 кв. м, деревья возрастом от 5 до 65
      лет, в количестве – 1447 шт., кустов в количестве – 963 шт., оценочной
      стоимостью 32 522 115,00 руб.</span
    >
  </p>

  <p>&nbsp;</p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      >Ноябрь 2020</span
    >
  </p>

  <p>
    <span
      class="
        tojvnm2t
        a6sixzi8
        abs2jz4q
        a8s20v7p
        t1p8iaqh
        k5wvi7nf
        q3lfd5jv
        pk4s997a
        bipmatt0
        cebpdrjk
        qowsmv63
        owwhemhu
        dp1hu0rb
        dhp61c6y
        iyyx5f41
      "
      ><a
        href="http://spb.arbitr.ru/cases/ccase?nd=2000413069&amp;prefix=%D0%9056&amp;numdeal=14607&amp;yeardeal=2020&amp;fld_12=&amp;fld_14=&amp;fld_16=&amp;fld_140=&amp;page=1"
        >подана апелляционная жалоба</a
      >
      в Тринадцатый арбитражный апелляционный суд
    </span>
  </p>

  <p>&nbsp;</p>
</section>
<section id="action">
  <h2>Как помочь?</h2>
  <h3 class="mb20 mt40">
    Поддержите петиции жителей Приморского района на сайте change.org:
  </h3>
  <div class="mb20">
    <a
      href="https://www.change.org/p/%D1%82%D1%80%D0%B5%D0%B1%D1%83%D0%B5%D0%BC-%D0%BE%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%82%D1%8C-%D1%83%D0%BD%D0%B8%D1%87%D1%82%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BF%D0%B0%D1%80%D0%BA%D0%B0-300-%D0%BB%D0%B5%D1%82%D0%B8%D1%8F-%D1%81%D0%B0%D0%BD%D0%BA%D1%82-%D0%BF%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D0%B0"
      target="_blank"
      ><img
        class="va-middle changeorg-icon"
        width="48"
        style="margin-right: 20px"
        src="images/changeorg_64.png"
    /></a>
    <a
      class="changeorg-link"
      href="https://www.change.org/p/%D1%82%D1%80%D0%B5%D0%B1%D1%83%D0%B5%D0%BC-%D0%BE%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%82%D1%8C-%D1%83%D0%BD%D0%B8%D1%87%D1%82%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BF%D0%B0%D1%80%D0%BA%D0%B0-300-%D0%BB%D0%B5%D1%82%D0%B8%D1%8F-%D1%81%D0%B0%D0%BD%D0%BA%D1%82-%D0%BF%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D0%B0"
      target="_blank"
      >Требуем законодательно остановить уничтожение Парка 300-летия
      Санкт-Петербурга!</a
    >
  </div>
  <div class="mb20 mt20">
    <a href="https://www.change.org/p/metodikaznop" target="_blank"
      ><img
        class="va-middle changeorg-icon"
        width="48"
        style="margin-right: 20px"
        src="images/changeorg_64.png"
    /></a>
    <a
      class="changeorg-link"
      href="https://www.change.org/p/metodikaznop"
      target="_blank"
      >Требуем изменить методику расчёта "показателя обеспеченности" зелеными
      насаждениями</a
    >
  </div>
  <h3 class="mb20 mt40">Отправьте обращение в следующие инстанции:</h3>

  <div id="tabs-container2">
    <ul class="tabs-menu">
      <li class="current">
        <a href="#poltavchenko">Полтавченко Г.С.</a>
      </li>
      <li>
        <a href="#putin">Путину В.В.</a>
      </li>
      <li>
        <a href="#medvedev">Медведеву Д.А.</a>
      </li>
      <li>
        <a href="#matvienko">Матвиенко В.И.</a>
      </li>
      <li>
        <a href="#prosecutor">Прокуратуру</a>
      </li>
    </ul>
    <div class="tab">
      <div id="poltavchenko" class="tab-content">
        <p class="mb20">
          Отправить обращение губернатору через
          <a
            href="http://gov.spb.ru/gov/elektronnaya-priemnaya-pre/elektronnaya-priemnaya-send/"
            target="_blank"
            >электронную приемную</a
          >
        </p>
        <textarea rows="10">
Губернатору Санкт-Петербурга
Полтавченко Г.С.
 «01» марта 2016 г.                                             

Уважаемый Георгий Сергеевич!
 
Мы, жители Приморского района, города Санкт-Петербурга обращаемся к Вам с убедительной просьбой законодательно остановить уничтожение парка «300 – летия Санкт-Петербурга». В 1995 году Владимир Владимирович Путин находясь в должности первого заместителя председателя правительства, заложил капсулу с посланием к потомкам, и посадили первые липы вместе с жителями в парке общей площадью 86 Га. На закладном камне, расположенном перед входом в ТК «Питерленд», указана дата основания парка 07.10.1995 г.- день  рождения В.В. Путина. С момента создания в 1995 году, своего существования парк утратил почти половину своей территории под коммерческую застройку, зелёная зона сократилась с 86 до 54 гектаров. 
Парк 300-летия – это уникальный и единственный в своем роде парк, расположенный на побережье Финского залива с гранитной набережной, и являющийся одним из главных мест отдыха жителей Приморского района. И не только Приморского: по выходным сюда съезжаются горожане и из других районов. Это единственный парк с набережной в городе, здесь оборудован пляж, это место проведения городских фестивалей и праздников. Уже сейчас в теплое время года ощущается дефицит пространства в парке - сюда с каждым годом приезжает все больше и больше людей. Это объясняется просто: в Приморском районе - крупнейшем районе города - строится много жилья, однако новые зеленые зоны при этом не создаются, жителям не хватает места для отдыха. Ситуация сильно осложнится с открытием метро "Беговая", вестибюль которой будет расположен рядом с центральным входом парк.
Приморский район является одним из крупнейших в Санкт-Петербурге. Площадь его составляет 109,87 кв. км. Население Приморского района по состоянию на 1 января 2013 года по данным Петростата 522.8 тыс. человек (на 01.01.2012 – 518.3 тыс. человек). 
За период с 2008 - 2016 годы, на основании данных Комитета по строительству в Приморском районе было введено в эксплуатацию более 1 400 000 кв.м. жилья и объектов общественно-делового назначения. 
На основании Закона Санкт-Петербурга о зеленых насаждениях в Санкт-Петербурге, статьи 5, которой определены нормативы качества зеленых насаждений и показатели обеспеченности населения Санкт-Петербурга территориями зеленых насаждений общего пользования, норма  для Приморского района  составляет - 12 квадратных метров на человека. При такой численности жителей, Приморский район должен быть обеспечен 62,66 кв.км. территориями зеленых насаждений, а это 68 % от площади всего Приморского района.       
На основании  данных из официального ответа от 22 мая 2015 года № 36.1-146 от Депутата Ковалева А.А., следует, что показатель озелененности Муниципального образования № 65 на территории которого располагается парк «300-летия Санкт-Петербурга»  в Приморском районе, составляет всего 49,7% (5,96 кв.м.) от норматива 12 кв.м. на человека. Дефицит территории зеленых насаждений, необходимой для соблюдения  норматива составляет более 81 Га.   
13 января 2106 года, в рамках публичных слушаний, в защиту Парка было подано более 50 замечаний для включения в протокол общественных слушаний, по вопросу внесения изменений в Закон «Правила землепользования и застройки Санкт-Петербурга» (далее – ПЗЗ),  с целью сохранения парка и возврата его исторических границ, утраченной территории,  в общем объеме 13,1 Га.  По состоянию на 1 марта 2016 г. под петицией подписались более 87 000 жителей https://www.change.org/p/park300letie. 

Георгий Сергеевич просим Вас поддержать жителей, остановить застройку парка «300-летия Санкт-Петербурга», а именно:
-  признать парк, заложенный 07 октября 1995 г., при участии Мэра Санкт - Петербурга А.А. Собчака и его первого заместителя  председателя Правительства  В. В. Путина уникальным и стратегическим городским парком.  
Защитить от любой застройки в его исторических границах, площадью в 86 га от Лахтинского разлива до стадиона «Приморец».
- внести соответствующие поправоки в Генеральный план Санкт-Петербурга, установив функциональную зону (Р2) рекреационного назначения для 86 га,
в Правилах землепользования и застройки Санкт-Петербурга (ПЗЗ), установить территориальную зону ТР2 на территории площадью 86 га,
всю, указанную территорию включить в зелёные насаждения общего пользования (ЗНОП), внеся соответствующие изменения в Закона Санкт-Петербурга «О зеленых насаждениях общего пользования».
- с 20.02.2016 наложить мораторий на любые действия по строительству и передаче земельных участков под застройку. В том числе разработку проектов планировки с проектом межевания, выдачу планов градостроительных участков, предоставление разрешения на строительство, в отношении территории  изначально принадлежащей парку площадью в 86 га.  В частности на участок 3.9 га с западной стороны парка, в защиту которого на 01 марта подписалось более 80 000 человек https://www.change.org/p/park300letie, и на участки с южной и восточной стороны парка площадью: 1, 8 га;  3,5га ;  0,8га;  0,3 га;  0,1га;  2,8га.

В частности от застройки участка с западной части, расположенного по адресу: Приморский район, Приморский проспект, участок 1 (напротив дома 163, литер А по Приморскому проспекту); кадастровый номер 78:34:0416602:23,площадью 3.9га

И от застройки Парка с южной и восточной сторон земельных участков:
кадастровый номер 78:34:0004163:22, г. Санкт-Петербург Приморский район, ул. Савушкина, участок 1 (северо-западнее дома N 112, литера А, по ул. Савушкина), площадью 17954 кв. м;
кадастровый номер 78:34:0004163:16, г. Санкт-петербург, Приморский проспект, участок 22 (восточнее пересечения с Яхтенной улицей) площадью 35573 кв.м.;
кадастровый номер 78:34:0004163:19, г.Санкт-Петербург, парк им. 300-летия Санкт-Петербурга, участок 25, (восточнее пересечения Приморского проспекта и Яхтенной улицы) площадью 7785 кв.м
кадастровый номер 78:34:0004163:17, г.Санкт-Петербург, парк "300-летия Санкт-Петербурга", участок 23, (восточнее пересечения Приморского проспекта и Яхтенной улицы) площадью 3261 кв.м
кадастровый номер 78:34:0416602:11, г.Санкт-Петербург, Приморский проспект, участок 53, (южнее пересечения с Яхтенной улицей) площадью 1101 кв.м
кадастровый номер 78:34:0416602:10, г.Санкт-Петербург, Приморский проспект, участок 54, (южнее пересечения с Яхтенной улицей) площадью 28395 кв.м, 

- выполнить комплексное благоустройство территории парка площадью в 86 га.

Срок реализации 2016 - 2019 гг.
</textarea
        >
      </div>

      <div id="putin" class="tab-content">
        <p class="mb20">
          Отправить обращение Президенту РФ, Путину В.В., через
          <a href="http://letters.kremlin.ru/send" target="_blank"
            >электронную приемную</a
          >
        </p>
        <textarea rows="10">
Президенту РФ
В. В. Путину
«01» марта 2016 г.                                             

Уважаемый Владимир Владимирович!
 
Мы, жители Приморского района, города Санкт-Петербурга обращаемся к Вам с убедительной просьбой законодательно остановить уничтожение парка «300 – летия Санкт-Петербурга». В 1995 году Вы, Владимир Владимирович находясь в должности первого заместителя председателя правительства, заложил капсулу с посланием к потомкам, и посадили первые липы вместе с жителями в парке общей площадью 86 Га. На закладном камне, расположенном перед входом в ТК «Питерленд», указана дата основания парка 07.10.1995 г.- день  Вашего рождения. С момента создания в 1995 году, своего существования парк утратил почти половину под коммерческую застройку, зелёная зона сократилась с 86 до 54 гектаров. 
Парк 300-летия – это уникальный и единственный в своем роде парк, расположенный на побережье Финского залива с гранитной набережной, и являющийся одним из главных мест отдыха жителей Приморского района. И не только Приморского: по выходным сюда съезжаются горожане и из других районов. Это единственный парк с набережной в городе, здесь оборудован пляж, это место проведения городских фестивалей и праздников. Уже сейчас в теплое время года ощущается дефицит пространства в парке - сюда с каждым годом приезжает все больше и больше людей. Это объясняется просто: в Приморском районе - крупнейшем районе города - строится много жилья, однако новые зеленые зоны при этом не создаются, жителям не хватает места для отдыха. Ситуация сильно осложнится с открытием метро "Беговая", вестибюль которой будет расположен рядом с центральным входом парк.
Приморский район является одним из крупнейших в Санкт-Петербурге. Площадь его составляет 109,87 кв. км. Население Приморского района по состоянию на 1 января 2013 года по данным Петростата 522.8 тыс. человек (на 01.01.2012 – 518.3 тыс. человек). 
За период с 2008 - 2016 годы, на основании данных Комитета по строительству в Приморском районе было введено в эксплуатацию более 1 400 000 кв.м. жилья и объектов общественно-делового назначения. 
На основании Закона Санкт-Петербурга о зеленых насаждениях в Санкт-Петербурге, статьи 5, которой определены нормативы качества зеленых насаждений и показатели обеспеченности населения Санкт-Петербурга территориями зеленых насаждений общего пользования, норма  для Приморского района  составляет - 12 квадратных метров на человека. При такой численности жителей, Приморский район должен быть обеспечен 62,66 кв.км. территориями зеленых насаждений, а это 68 % от площади всего Приморского района.       
На основании  данных из официального ответа от 22 мая 2015 года № 36.1-146 от Депутата Ковалева А.А., следует, что показатель озелененности Муниципального образования № 65 на территории которого располагается парк «300-летия Санкт-Петербурга»  в Приморском районе, составляет всего 49,7% (5,96 кв.м.) от норматива 12 кв.м. на человека. Дефицит территории зеленых насаждений, необходимой для соблюдения  норматива составляет более 81 Га.   
13 января 2106 года, в рамках публичных слушаний, в защиту Парка было подано более 50 замечаний для включения в протокол общественных слушаний, по вопросу внесения изменений в Закон «Правила землепользования и застройки Санкт-Петербурга» (далее – ПЗЗ),  с целью сохранения парка и возврата его исторических границ, утраченной территории,  в общем объеме 13,1 Га.  По состоянию на 1 марта 2016 г. под петицией подписались более 87 000 жителей https://www.change.org/p/park300letie. 

Владимир Владимирович просим Вас поддержать жителей, остановить застройку парка «300-летия Санкт-Петербурга», а именно:
-  признать парк, заложенный 07 октября 1995 г., при участии Мэра Санкт - Петербурга А.А. Собчака и его первого заместителя  председателя Правительства  В. В. Путина уникальным и стратегическим городским парком.  
Защитить от любой застройки в его исторических границах, площадью в 86 га от Лахтинского разлива до стадиона «Приморец».
- внести соответствующие поправоки в Генеральный план Санкт-Петербурга, установив функциональную зону (Р2) рекреационного назначения для 86 га,
в Правилах землепользования и застройки Санкт-Петербурга (ПЗЗ), установить территориальную зону ТР2 на территории площадью 86 га,
всю, указанную территорию включить в зелёные насаждения общего пользования (ЗНОП), внеся соответствующие изменения в Закона Санкт-Петербурга «О зеленых насаждениях общего пользования».
- с 20.02.2016 наложить мораторий на любые действия по строительству и передаче земельных участков под застройку. В том числе разработку проектов планировки с проектом межевания, выдачу планов градостроительных участков, предоставление разрешения на строительство, в отношении территории  изначально принадлежащей парку площадью в 86 га.  В частности на участок 3.9 га с западной стороны парка, в защиту которого на 01 марта подписалось более 80 000 человек https://www.change.org/p/park300letie, и на участки с южной и восточной стороны парка площадью: 1, 8 га;  3,5га ;  0,8га;  0,3 га;  0,1га;  2,8га.

В частности от застройки участка с западной части, расположенного по адресу: Приморский район, Приморский проспект, участок 1 (напротив дома 163, литер А по Приморскому проспекту); кадастровый номер 78:34:0416602:23,площадью 3.9га

И от застройки Парка с южной и восточной сторон земельных участков:
кадастровый номер 78:34:0004163:22, г. Санкт-Петербург Приморский район, ул. Савушкина, участок 1 (северо-западнее дома N 112, литера А, по ул. Савушкина), площадью 17954 кв. м;
кадастровый номер 78:34:0004163:16, г. Санкт-петербург, Приморский проспект, участок 22 (восточнее пересечения с Яхтенной улицей) площадью 35573 кв.м.;
кадастровый номер 78:34:0004163:19, г.Санкт-Петербург, парк им. 300-летия Санкт-Петербурга, участок 25, (восточнее пересечения Приморского проспекта и Яхтенной улицы) площадью 7785 кв.м
кадастровый номер 78:34:0004163:17, г.Санкт-Петербург, парк "300-летия Санкт-Петербурга", участок 23, (восточнее пересечения Приморского проспекта и Яхтенной улицы) площадью 3261 кв.м
кадастровый номер 78:34:0416602:11, г.Санкт-Петербург, Приморский проспект, участок 53, (южнее пересечения с Яхтенной улицей) площадью 1101 кв.м
кадастровый номер 78:34:0416602:10, г.Санкт-Петербург, Приморский проспект, участок 54, (южнее пересечения с Яхтенной улицей) площадью 28395 кв.м, 

- выполнить комплексное благоустройство территории парка площадью в 86 га.

Срок реализации 2016 - 2019 гг.

</textarea
        >
      </div>

      <div id="medvedev" class="tab-content">
        <p class="mb20">
          Отправить обращение Председателю правительства РФ, Медведеву Д.А,
          через
          <a href="http://government.ru/letters/form/" target="_blank"
            >электронную приемную</a
          >
        </p>
        <textarea rows="10">
Правительство РФ
Председателю Правительства РФ
Д. А. Медведеву
 «01» марта 2016 г.                                             

Уважаемый Дмитрий Анатольевич!

 
Мы, жители Приморского района, города Санкт-Петербурга обращаемся к Вам с убедительной просьбой законодательно остановить уничтожение парка «300 – летия Санкт-Петербурга». В 1995 году, Владимир Владимирович Путин находясь в должности первого заместителя председателя правительства, заложил капсулу с посланием к потомкам, и посадили первые липы вместе с жителями в парке общей площадью 86 Га. На закладном камне, расположенном перед входом в ТК «Питерленд», указана дата основания парка 07.10.1995 г.- день  рождения В.В. Путина. С момента создания в 1995 году, своего существования парк утратил почти половину своей территории под коммерческую застройку, зелёная зона сократилась с 86 до 54 гектаров. 
Парк 300-летия – это уникальный и единственный в своем роде парк, расположенный на побережье Финского залива с гранитной набережной, и являющийся одним из главных мест отдыха жителей Приморского района. И не только Приморского: по выходным сюда съезжаются горожане и из других районов. Это единственный парк с набережной в городе, здесь оборудован пляж, это место проведения городских фестивалей и праздников. Уже сейчас в теплое время года ощущается дефицит пространства в парке - сюда с каждым годом приезжает все больше и больше людей. Это объясняется просто: в Приморском районе - крупнейшем районе города - строится много жилья, однако новые зеленые зоны при этом не создаются, жителям не хватает места для отдыха. Ситуация сильно осложнится с открытием метро "Беговая", вестибюль которой будет расположен рядом с центральным входом парк.
Приморский район является одним из крупнейших в Санкт-Петербурге. Площадь его составляет 109,87 кв. км. Население Приморского района по состоянию на 1 января 2013 года по данным Петростата 522.8 тыс. человек (на 01.01.2012 – 518.3 тыс. человек). 
За период с 2008 - 2016 годы, на основании данных Комитета по строительству в Приморском районе было введено в эксплуатацию более 1 400 000 кв.м. жилья и объектов общественно-делового назначения. 
На основании Закона Санкт-Петербурга о зеленых насаждениях в Санкт-Петербурге, статьи 5, которой определены нормативы качества зеленых насаждений и показатели обеспеченности населения Санкт-Петербурга территориями зеленых насаждений общего пользования, норма  для Приморского района  составляет - 12 квадратных метров на человека. При такой численности жителей, Приморский район должен быть обеспечен 62,66 кв.км. территориями зеленых насаждений, а это 68 % от площади всего Приморского района.       
На основании  данных из официального ответа от 22 мая 2015 года № 36.1-146 от Депутата Ковалева А.А., следует, что показатель озелененности Муниципального образования № 65 на территории которого располагается парк «300-летия Санкт-Петербурга»  в Приморском районе, составляет всего 49,7% (5,96 кв.м.) от норматива 12 кв.м. на человека. Дефицит территории зеленых насаждений, необходимой для соблюдения  норматива составляет более 81 Га.   
13 января 2106 года, в рамках публичных слушаний, в защиту Парка было подано более 50 замечаний для включения в протокол общественных слушаний, по вопросу внесения изменений в Закон «Правила землепользования и застройки Санкт-Петербурга» (далее – ПЗЗ),  с целью сохранения парка и возврата его исторических границ, утраченной территории,  в общем объеме 13,1 Га.  По состоянию на 1 марта 2016 г. под петицией подписались более 87 000 жителей https://www.change.org/p/park300letie. 

Дмитрий Анатольевич просим Вас поддержать жителей, остановить застройку парка «300-летия Санкт-Петербурга», а именно:
-  признать парк, заложенный 07 октября 1995 г., при участии Мэра Санкт - Петербурга А.А. Собчака и его первого заместителя  председателя Правительства  В. В. Путина уникальным и стратегическим городским парком.  
Защитить от любой застройки в его исторических границах, площадью в 86 га от Лахтинского разлива до стадиона «Приморец».
- внести соответствующие поправок в Генеральный план Санкт-Петербурга, установив функциональную зону (Р2) рекреационного назначения для 86 га,
в Правилах землепользования и застройки Санкт-Петербурга (ПЗЗ), установить территориальную зону ТР2 на территории площадью 86 га,
всю, указанную территорию включить в зелёные насаждения общего пользования (ЗНОП), внеся соответствующие изменения в Закона Санкт-Петербурга «О зеленых насаждениях общего пользования».
- с 20.02.2016 наложить мораторий на любые действия по строительству и передаче земельных участков под застройку. В том числе разработку проектов планировки с проектом межевания, выдачу планов градостроительных участков, предоставление разрешения на строительство, в отношении территории  изначально принадлежащей парку площадью в 86 га.  В частности на участок 3.9 га с западной стороны парка, в защиту которого на 01 марта подписалось более 80 000 человек https://www.change.org/p/park300letie, и на участки с южной и восточной стороны парка площадью: 1, 8 га;  3,5га ;  0,8га;  0,3 га;  0,1га;  2,8га.

В частности от застройки участка с западной части, расположенного по адресу: Приморский район, Приморский проспект, участок 1 (напротив дома 163, литер А по Приморскому проспекту); кадастровый номер 78:34:0416602:23,площадью 3.9га

И от застройки Парка с южной и восточной сторон земельных участков:
кадастровый номер 78:34:0004163:22, г. Санкт-Петербург Приморский район, ул. Савушкина, участок 1 (северо-западнее дома N 112, литера А, по ул. Савушкина), площадью 17954 кв. м;
кадастровый номер 78:34:0004163:16, г. Санкт-петербург, Приморский проспект, участок 22 (восточнее пересечения с Яхтенной улицей) площадью 35573 кв.м.;
кадастровый номер 78:34:0004163:19, г.Санкт-Петербург, парк им. 300-летия Санкт-Петербурга, участок 25, (восточнее пересечения Приморского проспекта и Яхтенной улицы) площадью 7785 кв.м
кадастровый номер 78:34:0004163:17, г.Санкт-Петербург, парк "300-летия Санкт-Петербурга", участок 23, (восточнее пересечения Приморского проспекта и Яхтенной улицы) площадью 3261 кв.м
кадастровый номер 78:34:0416602:11, г.Санкт-Петербург, Приморский проспект, участок 53, (южнее пересечения с Яхтенной улицей) площадью 1101 кв.м
кадастровый номер 78:34:0416602:10, г.Санкт-Петербург, Приморский проспект, участок 54, (южнее пересечения с Яхтенной улицей) площадью 28395 кв.м, 

- выполнить комплексное благоустройство территории парка площадью в 86 га.

Срок реализации 2016 - 2019 гг.</textarea
        >
      </div>

      <div id="matvienko" class="tab-content">
        <p class="mb20">
          Отправить обращение Председателю Совета Федерации Федерального
          Собрания РФ, Матвиенко В.И
          <a href="http://pisma.council.gov.ru/send_anonymous/" target="_blank"
            >электронную приемную</a
          >
        </p>
        <textarea rows="10">
Совет Федерации Федерального Собрания РФ
Председателю В. И. Матвиенко 
«01» марта 2016 г.                                             

Уважаемая Валентина Ивановна!
 
Мы, жители Приморского района, города Санкт-Петербурга обращаемся к Вам с убедительной просьбой законодательно остановить уничтожение парка «300 – летия Санкт-Петербурга». В 1995 году Владимир Владимирович Путин  находясь в должности первого заместителя председателя правительства, заложил капсулу с посланием к потомкам, и посадили первые липы вместе с жителями в парке общей площадью 86 Га. На закладном камне, расположенном перед входом в ТК «Питерленд», указана дата основания парка 07.10.1995 г.- день  рождения В.В. Путина. Вы, Валентина Ивановна, находясь в должности полпреда, 24 мая 2003 г. торжественно открыли парк и высадили именную ель. С момента создания в 1995 году, своего существования парк утратил почти половину своей территории под коммерческую застройку, зелёная зона сократилась с 86 до 54 гектаров. 
Парк 300-летия – это уникальный и единственный в своем роде парк, расположенный на побережье Финского залива с гранитной набережной, и являющийся одним из главных мест отдыха жителей Приморского района. И не только Приморского: по выходным сюда съезжаются горожане и из других районов. Это единственный парк с набережной в городе, здесь оборудован пляж, это место проведения городских фестивалей и праздников. Уже сейчас в теплое время года ощущается дефицит пространства в парке - сюда с каждым годом приезжает все больше и больше людей. Это объясняется просто: в Приморском районе - крупнейшем районе города - строится много жилья, однако новые зеленые зоны при этом не создаются, жителям не хватает места для отдыха. Ситуация сильно осложнится с открытием метро "Беговая", вестибюль которой будет расположен рядом с центральным входом парк.
Приморский район является одним из крупнейших в Санкт-Петербурге. Площадь его составляет 109,87 кв. км. Население Приморского района по состоянию на 1 января 2013 года по данным Петростата 522.8 тыс. человек (на 01.01.2012 – 518.3 тыс. человек). 
За период с 2008 - 2016 годы, на основании данных Комитета по строительству в Приморском районе было введено в эксплуатацию более 1 400 000 кв.м. жилья и объектов общественно-делового назначения. 
На основании Закона Санкт-Петербурга о зеленых насаждениях в Санкт-Петербурге, статьи 5, которой определены нормативы качества зеленых насаждений и показатели обеспеченности населения Санкт-Петербурга территориями зеленых насаждений общего пользования, норма  для Приморского района  составляет - 12 квадратных метров на человека. При такой численности жителей, Приморский район должен быть обеспечен 62,66 кв.км. территориями зеленых насаждений, а это 68 % от площади всего Приморского района.       
На основании  данных из официального ответа от 22 мая 2015 года № 36.1-146 от Депутата Ковалева А.А., следует, что показатель озелененности Муниципального образования № 65 на территории которого располагается парк «300-летия Санкт-Петербурга»  в Приморском районе, составляет всего 49,7% (5,96 кв.м.) от норматива 12 кв.м. на человека. Дефицит территории зеленых насаждений, необходимой для соблюдения  норматива составляет более 81 Га.   
13 января 2106 года, в рамках публичных слушаний, в защиту Парка было подано более 50 замечаний для включения в протокол общественных слушаний, по вопросу внесения изменений в Закон «Правила землепользования и застройки Санкт-Петербурга» (далее – ПЗЗ),  с целью сохранения парка и возврата его исторических границ, утраченной территории,  в общем объеме 13,1 Га.  По состоянию на 1 марта 2016 г. под петицией подписались более 87 000 жителей https://www.change.org/p/park300letie. 

Валентина Ивановна просим Вас поддержать жителей, остановить застройку парка «300-летия Санкт-Петербурга», а именно:
-  признать парк, заложенный 07 октября 1995 г., при участии Мэра Санкт - Петербурга А.А. Собчака и его первого заместителя  председателя Правительства  В. В. Путина уникальным и стратегическим городским парком.  
Защитить от любой застройки в его исторических границах, площадью в 86 га от Лахтинского разлива до стадиона «Приморец».
- внести соответствующие поправки в Генеральный план Санкт-Петербурга, установив функциональную зону (Р2) рекреационного назначения для 86 га,
в Правилах землепользования и застройки Санкт-Петербурга (ПЗЗ), установить территориальную зону ТР2 на территории площадью 86 га,
всю, указанную территорию включить в зелёные насаждения общего пользования (ЗНОП), внеся соответствующие изменения в Закона Санкт-Петербурга «О зеленых насаждениях общего пользования».
- с 20.02.2016 наложить мораторий на любые действия по строительству и передаче земельных участков под застройку. В том числе разработку проектов планировки с проектом межевания, выдачу планов градостроительных участков, предоставление разрешения на строительство, в отношении территории  изначально принадлежащей парку площадью в 86 га.  В частности на участок 3.9 га с западной стороны парка, в защиту которого на 01 марта подписалось более 80 000 человек https://www.change.org/p/park300letie, и на участки с южной и восточной стороны парка площадью: 1, 8 га;  3,5га ;  0,8га;  0,3 га;  0,1га;  2,8га.

В частности от застройки участка с западной части, расположенного по адресу: Приморский район, Приморский проспект, участок 1 (напротив дома 163, литер А по Приморскому проспекту); кадастровый номер 78:34:0416602:23,площадью 3.9га

И от застройки Парка с южной и восточной сторон земельных участков:
кадастровый номер 78:34:0004163:22, г. Санкт-Петербург Приморский район, ул. Савушкина, участок 1 (северо-западнее дома N 112, литера А, по ул. Савушкина), площадью 17954 кв. м;
кадастровый номер 78:34:0004163:16, г. Санкт-петербург, Приморский проспект, участок 22 (восточнее пересечения с Яхтенной улицей) площадью 35573 кв.м.;
кадастровый номер 78:34:0004163:19, г.Санкт-Петербург, парк им. 300-летия Санкт-Петербурга, участок 25, (восточнее пересечения Приморского проспекта и Яхтенной улицы) площадью 7785 кв.м
кадастровый номер 78:34:0004163:17, г.Санкт-Петербург, парк "300-летия Санкт-Петербурга", участок 23, (восточнее пересечения Приморского проспекта и Яхтенной улицы) площадью 3261 кв.м
кадастровый номер 78:34:0416602:11, г.Санкт-Петербург, Приморский проспект, участок 53, (южнее пересечения с Яхтенной улицей) площадью 1101 кв.м
кадастровый номер 78:34:0416602:10, г.Санкт-Петербург, Приморский проспект, участок 54, (южнее пересечения с Яхтенной улицей) площадью 28395 кв.м, 

- выполнить комплексное благоустройство территории парка площадью в 86 га.

Срок реализации 2016 - 2019 гг.

</textarea
        >
      </div>

      <div id="prosecutor" class="tab-content">
        <p class="mb20">
          Отправить жалобу в прокуратуру через
          <a href="http://procspb.ru/reception/form" target="_blank"
            >электронную приемную</a
          >
        </p>
        <textarea rows="10"></textarea>
      </div>
    </div>
  </div>

  <h3 class="mt40">Поделитесь информацией с друзьями</h3>

  <div class="mb20">
    <script type="text/javascript">
      ;(function () {
        if (window.pluso) if (typeof window.pluso.start == 'function') return
        if (window.ifpluso == undefined) {
          window.ifpluso = 1
          var d = document,
            s = d.createElement('script'),
            g = 'getElementsByTagName'
          s.type = 'text/javascript'
          s.charset = 'UTF-8'
          s.async = true
          s.src =
            ('https:' == window.location.protocol ? 'https' : 'http') +
            '://share.pluso.ru/pluso-like.js'
          var h = d[g]('body')[0]
          h.appendChild(s)
        }
      })()
    </script>
    <div
      class="pluso"
      data-background="transparent"
      data-options="big,square,line,horizontal,counter,theme=04"
      data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"
    >
      <div class="pluso-010010101001-04">
        <span class="pluso-wrap" style="background: transparent"
          ><a
            href="file:///Users/imac/Sites/%D0%9F%D0%BE%D0%BC%D0%BE%D0%B6%D0%B5%D0%BC%20%D0%BF%D0%B0%D1%80%D0%BA%D1%83%20300-%D0%BB%D0%B5%D1%82%D0%B8%D1%8F%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D0%B0.html"
            title="ВКонтакте"
            class="pluso-vkontakte"
          ></a
          ><a
            href="file:///Users/imac/Sites/%D0%9F%D0%BE%D0%BC%D0%BE%D0%B6%D0%B5%D0%BC%20%D0%BF%D0%B0%D1%80%D0%BA%D1%83%20300-%D0%BB%D0%B5%D1%82%D0%B8%D1%8F%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D0%B0.html"
            title="Одноклассники"
            class="pluso-odnoklassniki"
          ></a
          ><a
            href="file:///Users/imac/Sites/%D0%9F%D0%BE%D0%BC%D0%BE%D0%B6%D0%B5%D0%BC%20%D0%BF%D0%B0%D1%80%D0%BA%D1%83%20300-%D0%BB%D0%B5%D1%82%D0%B8%D1%8F%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D0%B0.html"
            title="Facebook"
            class="pluso-facebook"
          ></a
          ><a
            href="file:///Users/imac/Sites/%D0%9F%D0%BE%D0%BC%D0%BE%D0%B6%D0%B5%D0%BC%20%D0%BF%D0%B0%D1%80%D0%BA%D1%83%20300-%D0%BB%D0%B5%D1%82%D0%B8%D1%8F%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D0%B0.html"
            title="Twitter"
            class="pluso-twitter"
          ></a
          ><a
            href="file:///Users/imac/Sites/%D0%9F%D0%BE%D0%BC%D0%BE%D0%B6%D0%B5%D0%BC%20%D0%BF%D0%B0%D1%80%D0%BA%D1%83%20300-%D0%BB%D0%B5%D1%82%D0%B8%D1%8F%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D0%B0.html"
            title="Google+"
            class="pluso-google"
          ></a
          ><a
            href="file:///Users/imac/Sites/%D0%9F%D0%BE%D0%BC%D0%BE%D0%B6%D0%B5%D0%BC%20%D0%BF%D0%B0%D1%80%D0%BA%D1%83%20300-%D0%BB%D0%B5%D1%82%D0%B8%D1%8F%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D0%B0.html"
            title="Мой Мир@Mail.Ru"
            class="pluso-moimir"
          ></a
          ><a
            href="file:///Users/imac/Sites/%D0%9F%D0%BE%D0%BC%D0%BE%D0%B6%D0%B5%D0%BC%20%D0%BF%D0%B0%D1%80%D0%BA%D1%83%20300-%D0%BB%D0%B5%D1%82%D0%B8%D1%8F%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D0%B0.html"
            title="Отправить на email"
            class="pluso-email"
          ></a
          ><a
            href="file:///Users/imac/Sites/%D0%9F%D0%BE%D0%BC%D0%BE%D0%B6%D0%B5%D0%BC%20%D0%BF%D0%B0%D1%80%D0%BA%D1%83%20300-%D0%BB%D0%B5%D1%82%D0%B8%D1%8F%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%D0%B0.html"
            title="Печатать"
            class="pluso-print"
          ></a
          ><a href="http://pluso.ru/" class="pluso-more"></a></span
        ><span class="pluso-counter"><b title="0">0</b></span>
      </div>
    </div>
  </div>

  <h3 class="mt40 mb20">Подпишитесь на обновления</h3>
  <form method="POST" name="subscribe" netlify>
    <input type="text" name="name" placeholder="Ваше имя" required="" /><br />
    <input
      type="email"
      name="email"
      placeholder="Электронная почта (ivan@petrov.ru)"
    /><br />
    <input
      type="tel"
      name="phone"
      placeholder="Номер телефона (для SMS рассылки)"
    /><br />
    <button type="submit" class="m-action">
      Подписаться
    </button>
  </form>
</section>
